######################################################################
# HISTORY
# $Log:	nanny.config,v $
# Revision 1.36  89/08/24  17:36:16  moore
# 	Changed script on bootpd.
# 	[89/08/24  17:36:07  moore]
# 
# Revision 1.35  89/08/24  17:18:49  moore
# 	Added bootpd software.  Run bootp daemon only on machines that have
# 	bootpd attribute.
# 	[89/08/24  17:18:38  moore]
# 
# Revision 1.34  89/08/02  19:07:00  mja
# 	Add new "afsd" entry for the in-kernel AFS cache manager and eliminate
# 	all RUNFILE dependencies for the existing "venus" entry.
# 
# Revision 1.33  89/07/12  12:47:33  dlc
# 	Added new entry to launch an MMDF deliver daemon for the list channel.
# 	[89/07/12            dlc]
# 
# Revision 1.32  89/06/20  18:15:21  gm0w
# 	Changed mach servers to use an indirect script that waits for afs to
# 	be available before exec'ing the server.
# 	[89/06/20            gm0w]
# 
# Revision 1.31  89/06/01  17:04:46  mja
# 	Removed RUNFILE dependencies for "vicefile" server.  It should never
# 	restart automatically when new versions are upgraded.
# 
# Revision 1.30  89/05/09  17:21:19  vanryzin
# 	Added new entries for CAP (distribution 5) servers.
# 	[89/05/09            vanryzin]
# 
# Revision 1.29  89/02/20  15:28:10  vanryzin
# 	Changed netmsgserver to run GID = network
# 	[89/02/20            vanryzin]
# 
# Revision 1.28  89/01/12  12:11:01  dimitris
# 	Added dependency on  /usr/cs/lib/hosts/local-hosts for rfs
# 
# 
# Revision 1.25  89/01/08  23:19:23  dlc
# 	Added dependency on mmdftailor for each of the MMDF entries so
# 	the servers will be restarted when it changes.  Changed the
# 	ATTRIBUTES for MMDF from mmdf to unix, since this will
# 	eventually be running everywhere.
# 	[89/01/08            dlc]
# 
# Revision 1.24  88/12/13  15:20:28  berman
# 	Changed UID for netmsgserver to run as msgsrv,system
# 	for upcoming transition to mach misc collection and
# 	AFS version of netmsgserver.
# 	[88/12/13            berman]
# 
# Revision 1.23  88/11/10  12:19:49  dlc
# 	Added rules to start the launch cover scripts for the MMDF channels
# 	local, delay, and smtp (outbound).
# 	[88/11/10  12:17:44  dlc]
# 
######################################################################
syslogd {
RUNFILE=( /etc/syslogd)
SCRIPT=( /etc/syslogd)
UID=( root)
GID=( system)
NICE=( -1)
ATTRIBUTES=( unix)
}

inetd {
RUNFILE=( /etc/inetd)
SCRIPT=( /etc/inetd)
UID=( root)
GID=( system)
NICE=( -1)
ATTRIBUTES=( unix)
}

named {
RUNFILE=( /etc/named)
SCRIPT=( /etc/named)
UID=( root)
GID=( system)
NICE=( 1)
ATTRIBUTES=( unix)
}

killjoy {
RUNFILE=( /usr/cs/etc/killjoy)
SCRIPT=( /usr/cs/etc/killjoy)
UID=( root)
GID=( cmu)
NICE=( 1)
ATTRIBUTES=( killjoy)
}

nntpd {
RUNFILE=( /usr/cs/etc/nntpd)
SCRIPT=( /usr/cs/etc/nntpd)
UID=( root)
GID=( system)
NICE=( 1)
ATTRIBUTES=( nntp)
}

supfile {
RUNFILE=( /usr/cs/etc/supfilesrv)
SCRIPT=( /usr/cs/etc/supfilesrv)
UID=( root)
GID=( cmu)
NICE=( 1)
ATTRIBUTES=( unix)
}

lpd {
RUNFILE=( /usr/cs/lib/lpd)
SCRIPT=( /usr/cs/lib/lpd -l)
UID=( root)
GID=( opr)
NICE=( 1)
ATTRIBUTES=( unix)
}

rfs {
RUNFILE=( /usr/cs/etc/rfsd /usr/cs/lib/hosts/local-hosts)
SCRIPT=( /usr/cs/bin/setmodes -maxuprc 100 /usr/cs/etc/rfsd)
UID=( root)
GID=( system)
NICE=( 1)
ATTRIBUTES=( rfs)
}

mailer {
RUNFILE=( /usr/cs/etc/mailer)
SCRIPT=( /usr/cs/etc/mailer)
UID=( network)
GID=( system)
NICE=( 1)
ATTRIBUTES=( mail1)
}

fastmail {
RUNFILE=( /usr/cs/etc/mailer)
SCRIPT=( /usr/cs/etc/mailer -fast)
UID=( network)
GID=( system)
NICE=( 1)
ATTRIBUTES=( mail2)
}

slowmail {
RUNFILE=( /usr/cs/etc/mailer)
SCRIPT=( /usr/cs/etc/mailer -slow)
UID=( network)
GID=( system)
NICE=( 1)
ATTRIBUTES=( mail2)
}

localchan {
RUNFILE=( /usr/misc/.mmdf/lib/deliver /usr/misc/.mmdf/lib/launchlocal /usr/misc/.mmdf/mmdftailor)
SCRIPT=( /usr/misc/.mmdf/lib/launchlocal)
UID=( network)
GID=( system)
NICE=( 1)
ATTRIBUTES=( unix)
}

delaychan {
RUNFILE=( /usr/misc/.mmdf/lib/deliver /usr/misc/.mmdf/lib/launchdelay /usr/misc/.mmdf/mmdftailor)
SCRIPT=( /usr/misc/.mmdf/lib/launchdelay)
UID=( network)
GID=( system)
NICE=( 1)
ATTRIBUTES=( unix)
}

smtpchan {
RUNFILE=( /usr/misc/.mmdf/lib/deliver /usr/misc/.mmdf/lib/launchsmtp /usr/misc/.mmdf/mmdftailor)
SCRIPT=( /usr/misc/.mmdf/lib/launchsmtp)
UID=( network)
GID=( system)
NICE=( 1)
ATTRIBUTES=( unix)
}

listchan {
RUNFILE=( /usr/misc/.mmdf/lib/deliver /usr/misc/.mmdf/lib/launchlist /usr/misc/.mmdf/mmdftailor)
SCRIPT=( /usr/misc/.mmdf/lib/launchlist)
UID=( network)
GID=( system)
NICE=( 1)
ATTRIBUTES=( unix)
}

at {
RUNFILE=( /usr/cs/etc/atd)
SCRIPT=( /usr/cs/etc/atd)
UID=( root)
GID=( system)
NICE=( 1)
ATTRIBUTES=( unix)
}

vicefile {
RUNFILE=( )
SCRIPT=( /vice/etc/launchfile)
UID=( root)
GID=( system)
NICE=( -3)
ATTRIBUTES=( vice)
}

viceauth {
RUNFILE=( /vice/bin/rauth /vice/etc/launchrauth)
SCRIPT=( /vice/etc/launchrauth)
UID=( root)
GID=( system)
NICE=( -2)
ATTRIBUTES=( vice)
}

vicestats {
RUNFILE=( /vice/bin/filestats /vice/db/hosts /vice/etc/launchfilestats)
SCRIPT=( /vice/etc/launchfilestats)
UID=( root)
GID=( system)
NICE=( 1)
ATTRIBUTES=( ignore)
}

venus {
RUNFILE=( )
SCRIPT=( /usr/vice/etc/launchvenus)
UID=( root)
GID=( system)
NICE=( -1)
ATTRIBUTES=( unix)
}

afsd {
RUNFILE=( )
SCRIPT=( /usr/vice/etc/launchafsd)
UID=( root)
GID=( system)
NICE=( -1)
ATTRIBUTES=( unix)
}

rfslink {
RUNFILE=( /usr/cs/etc/rfslink)
SCRIPT=( /usr/cs/etc/rfslink -watch 900)
UID=( root)
GID=( cmu)
NICE=( 1)
ATTRIBUTES=( unix)
}

netmsgserver {
RUNFILE=( )
SCRIPT=( /usr/cs/etc/waitforafs /usr/mach/etc/netmsgserver)
UID=( msgsrv)
GID=( network)
NICE=( -1)
ATTRIBUTES=( mach)
}

lcpserver {
RUNFILE=( )
SCRIPT=( /usr/cs/etc/waitforafs /usr/mach/etc/lcpserver)
UID=( anon)
GID=( system)
NICE=( 0)
ATTRIBUTES=( mach)
}

envmgr {
RUNFILE=( )
SCRIPT=( /usr/cs/etc/waitforafs /usr/mach/etc/envmgr)
UID=( anon)
GID=( system)
NICE=( 0)
ATTRIBUTES=( mach)
}

ntp {
RUNFILE=( /usr/misc/.ntp/etc/ntpd /usr/misc/.ntp/etc/ntp.conf)
SCRIPT=( /usr/misc/.ntp/etc/ntpd)
UID=( root)
GID=( system)
NICE=( -1)
ATTRIBUTES=( unix)
}

capatis {
RUNFILE=( /usr/misc/.cap/lib/atis)
SCRIPT=( /usr/misc/.cap/etc/atis.rc)
UID=( capd)
GID=( network)
NICE=( 0)
ATTRIBUTES=( capd)
}

capsnitch {
RUNFILE=( /usr/misc/.cap/lib/snitch)
SCRIPT=( /usr/misc/.cap/etc/snitch.rc)
UID=( capd)
GID=( software)
NICE=( 0)
ATTRIBUTES=( capd)
}

caplwsrv {
RUNFILE=( /usr/misc/.cap/lib/lwsrv)
SCRIPT=( /usr/misc/.cap/etc/lwsrv.rc)
UID=( capd)
GID=( software)
NICE=( 0)
ATTRIBUTES=( capd)
}

capatalkrd {
RUNFILE=( /usr/misc/.cap/lib/atalkrd)
SCRIPT=( /usr/misc/.cap/etc/atalkrd.rc)
UID=( capd)
GID=( network)
NICE=( 0)
ATTRIBUTES=( capd)
}


###############################################################################
#
# Columbia AppleTalk Package (CAP distribution 5)
#

# AppleTalk Name Information / Echo Server for Unix host
cap5atis {
RUNFILE=( /usr/misc/.cap5/etc/atis)
SCRIPT=( /usr/misc/.cap5/etc/atis.rc)
UID=( root)
GID=( network)
NICE=( -1)
ATTRIBUTES=( cap5)
}

# AppleTalk file protocol Unix File Server
cap5aufs {
RUNFILE=( /usr/misc/.cap5/etc/aufs)
SCRIPT=( /usr/misc/.cap5/etc/aufs.rc)
UID=( root)
GID=( network)
NICE=( -1)
ATTRIBUTES=( cap5aufs)
}

# LaserWriter spooling agent
cap5lwsrv {
RUNFILE=( /usr/misc/.cap5/etc/lwsrv)
SCRIPT=( /usr/misc/.cap5/etc/lwsrv.rc)
UID=( anon)
GID=( network)
NICE=( -1)
ATTRIBUTES=( cap5lwsrv)
}

# Responds to AppleTalk Inter-Poll requests
cap5snitch {
RUNFILE=( /usr/misc/.cap5/etc/snitch)
SCRIPT=( /usr/misc/.cap5/etc/snitch.rc)
UID=( anon)
GID=( network)
NICE=( 0)
ATTRIBUTES=( cap5)
}

bootpd {
RUNFILE=( /usr/misc/.bootp/bin/bootpd)
SCRIPT=( /usr/misc/.bootp/bin/bootpd)
UID=( root)
GID=( network)
NICE=( 0)
ATTRIBUTES=( bootpd)
}
